$primary: #00A1E0;
$primary-bg-color: #F4F6F9;
$darker-grey: #E1E1E1;

$text-primary: #50565D;
$text-secondary: #A3A6AA;
$default-font-size: 16px;

$low-risk-color: #68C3D1;
$mid-risk-color: #FFC107;
$high-risk-color: #DC3545;

html, body, #root {
	margin:0px;
	padding: 0px;
	background-color: $primary-bg-color;

}

.container {
	margin-top: 20px;
	font-size: $default-font-size;
}

